<div class="container-wrap">
  <aside id="fh5co-hero">
    <div class="flexslider">
      <ul class="slides">
        <li style="background-image: url(assets/images/Timeline_bg.jpg);">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                <div class="slider-text-inner">
                  <h1>Timeline</h1>
                  <h2>A history of my education and work</h2>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </aside>
  <div id="fh5co-resume" class="fh5co-bg-color">
    <div class="row animate-box">
      <div class="col-md-6 col-md-offset-3 text-center heading-section">
        <p><em>Time has no independent existence apart from the order of events by which we measure it.  - Albert Einstein</em></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-0">
        <ul class="timeline">
          <li class="timeline-heading text-center animate-box">
            <div><h3>Work Experience</h3></div>
          </li>
          <li class="animate-box timeline-unverted">
            <div class="timeline-badge"><i class="icon-briefcase"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Staff Software Engineer</h3>
                <span class="company">Grass Valley - August 2005 - July 2021</span>
              </div>
              <div class="timeline-body">
                <p>Lead front-end web developer for GV AMPP Asset Management, a next generation cloud-based platform that facilitates media asset management and remote production for the video broadcast industry.  Helped to design and develop the UI for managing, updating, displaying, and searching across assets and asset metadata.  The UI framework was developed using TypeScript and Angular and was designed to run within a cloud-hosted microservice architecture.</p>
                <br>
                <p>Helped to design and develop the Windows-based video production and content management application, called GV STRATUS, using C# and WPF.</p>
                <br>
                <p>Participated in the design and development of a configuration and software deployment tool that customers used to commission and update their Grass Valley systems on site. </p>
                <br>
                <p>Worked on adding new features to an application that managed content for our line of video servers.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted animate-box">
            <div class="timeline-badge"><i class="icon-briefcase"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Software Engineer (Contractor)</h3>
                <span class="company">Tektronix - April 2004 - July 2005</span>
              </div>
              <div class="timeline-body">
                <p>Worked on the C# Windows-based RF measurement software for the spectrum analyzer product line.  Also helped to develop the automated build system using scripting.</p>
              </div>
            </div>
          </li>
          <li class="animate-box timeline-unverted">
            <div class="timeline-badge"><i class="icon-briefcase"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Software Engineer</h3>
                <span class="company">Agilent Technologies - June 2000 - March 2003</span>
              </div>
              <div class="timeline-body">
                <p>Developed Windows-based applications that create test signals for satellite and cellular base station testing.</p>
              </div>
            </div>
          </li>
          <li class="animate-box timeline-inverted">
            <div class="timeline-badge"><i class="icon-briefcase"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Data Management</h3>
                <span class="company">EducAide Software - June 1998 - December 1999</span>
              </div>
              <div class="timeline-body">
                <p>Worked on reviewing standardized test questions and adding them into the company’s proprietary database.  Developed macros to facilitate some of this work.</p>
              </div>
            </div>
          </li>

          <br>
          <li class="timeline-heading text-center animate-box">
            <div><h3>Education</h3></div>
          </li>
          <li class="timeline-inverted animate-box">
            <div class="timeline-badge"><i class="icon-library"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">B.S. Computer Science</h3>
                <span class="company">Cal Poly State University - 1996 - 2000</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
