<div class="container-wrap">
  <aside id="fh5co-hero">
    <div class="flexslider">
      <ul class="slides">
        <li style="background-image: url({{(timelineInfo$ | async)?.slideInfo?.slidePath}});">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                <div class="slider-text-inner" *ngIf="timelineInfo$ | async as timelineInfo">
                  <h1>{{timelineInfo.slideInfo.slideTitle}}</h1>
                  <h2>{{timelineInfo.slideInfo.slideDescription}}</h2>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </aside>
  <div id="fh5co-resume" class="fh5co-bg-color">
    <div class="row animate-box">
      <div class="col-md-6 col-md-offset-3 text-center heading-section">
        <p><em>{{(timelineInfo$ | async)?.quote}}</em></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-0">
        <ul class="timeline animate-box">
          <li class="timeline-heading text-center">
            <div><h3>Work Experience</h3></div>
          </li>
          <li *ngFor="let p of (timelineInfo$ | async)?.experience; let index = index" [ngClass]="index % 2 === 0 ? 'timeline-unverted' : 'timeline-inverted'">
            <div class="timeline-badge"><i class="icon-briefcase"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">{{p.title}}</h3>
                <span class="company">{{p.company}} - {{p.range}}</span>
              </div>
              <div class="timeline-body">
                <p [innerHTML]="p.duties"></p>
              </div>
            </div>
          </li>
          <br>
          <li class="timeline-heading text-center animate-box">
            <div><h3>Education</h3></div>
          </li>
          <li class="timeline-unverted animate-box">
            <div class="timeline-badge"><i class="icon-library"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">{{(timelineInfo$ | async)?.degree}}</h3>
                <span class="company">{{(timelineInfo$ | async)?.college}} - {{(timelineInfo$ | async)?.collegeRange}}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
