<div class="container-wrap">
  <aside id="fh5co-hero">
    <div class="flexslider">
      <ul class="slides">
        <li style="background-image: url({{slide.slidePath}});">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                <div class="slider-text-inner">
                  <h1>{{slide.title}}</h1>
                  <h2>{{slide.description}}</h2>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </aside>
  <div id="fh5co-about">
    <div class="row animate-box">
      <div class="col-md-6 col-md-offset-3 text-center heading-section" *ngIf="about$ | async as about">
        <h3>{{about.name}}</h3>
        <p [innerHTML]="(about$ | async)?.overview"></p>
        <div>
          <ul class="fh5co-social-icons">
              <li *ngFor="let a of about.socialInfo"> <a [attr.href]="a.url" target="_blank"><i class={{a.icon}}></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
