<div class="container-wrap">
  <aside id="fh5co-hero">
    <div class="flexslider">
      <ul class="slides">
         <li style="background-image: url({{slide.slidePath}});">
           <div class="overlay-gradient"></div>
           <div class="row">
             <div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
               <div class="slider-text-inner text-center">
                 <h1>{{slide.title}}</h1>
                <h2>{{slide.description}}</h2>
               </div>
             </div>
           </div>
         </li>
        </ul>
      </div>
  </aside>

  <div id="fh5co-work">
    <div class="row">
      <div class="animate-box">
        <div *ngFor="let p of (portfolioInfo$| async)?.projects" class="{{p.alignment}}">
          <a routerLink="{{p.routerLink}}" class="work" style="background-image: url({{p.imagePath}}); background-size: 100% auto">
            <div class="desc">
              <h3>{{p.title}}</h3>
              <span>{{p.technologies}}</span>
            </div>
          </a>
        </div>
      </div>
  </div>

</div><!-- END container-wrap -->
