<div class="fh5co-loader"></div>

<div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="container-wrap">
      <div class="top-menu">
        <div class="row">
          <div id="horizontalNav" class="col-xs menu-1">
						<ul>
							<li class="homeNav"><a routerLink="/home">Home</a></li>
							<li class="aboutNav"><a routerLink="/about">About</a></li>
              <li class="portfolioNav"><a routerLink="/portfolio">Portfolio</a></li>
							<li class="timelineNav"><a routerLink="/timeline">Timeline</a></li>
						</ul>
					</div>
        </div>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <div class="container-wrap">
    <footer id="fh5co-footer" role="contentinfo">
      <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
            <small class="block">Copyright &copy; {{year}}. All Rights Reserved.</small>
            <small class="block">Designed and "Angularized" by {{name}}</small>
          </p>
          <div>
            <ul class="fh5co-social-icons">
              <li><a href="https://linkedin.com/in/emily-tracy-2379a51" target="_blank"><i class="icon-linkedin"></i></a></li>
              <li><a href="https://github.com/emgoheen" target="_blank"><i class="icon-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- END container-wrap -->
</div>
