<div class="container-wrap">
  <aside id="fh5co-hero">
    <div class="flexslider">
      <ul class="slides">
        <li *ngFor="let s of slides" style="background-image: url({{s.slidePath}});">
          <div class="overlay-gradient"></div>
          <div class="container-fluid">
            <div class="row">
              <div *ngIf="s.placement === 'Left'">
                <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                  <div class="slider-text-inner">
                    <h1>{{s.title}}</h1>
                    <h2>{{s.description}}</h2>
                    <p *ngIf="s.additionalInfo"><a class="btn btn-primary btn-demo" routerLink={{s.routerLink}}>{{s.additionalInfo}}</a></p>
                  </div>
                </div>
              </div>
              <div *ngIf="s.placement === 'Center'">
                <div class="col-md-6 col-md-offset-3 slider-text">
                  <div class="slider-text-inner text-center">
                    <h1>{{s.title}}</h1>
                    <h2>{{s.description}}</h2>
                    <p *ngIf="s.additionalInfo"><a class="btn btn-primary btn-demo" routerLink={{s.routerLink}}>{{s.additionalInfo}}</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </aside>
  <div id="fh5co-counter" class="fh5co-counters">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center animate-box">
        <p>{{(metricsAtAGlance$ | async)?.title}}</p>
      </div>
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-2 text-center" *ngFor="let m of (metricsAtAGlance$ | async)?.metrics">
              <span class="fh5co-counter js-counter" data-from="0" [attr.data-to]="m.totalYears" data-speed="5000" data-refresh-interval="50"></span>
              <span class={{m.iconPath}}></span>
              <span class="fh5co-counter-label">{{m.technology}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
